<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBq7EYbXPlorryICzL5iqk4PWSY887tpqo</string>
	<key>GCM_SENDER_ID</key>
	<string>600791837864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chat.git</string>
	<key>PROJECT_ID</key>
	<string>gitchat-6c9ff</string>
	<key>STORAGE_BUCKET</key>
	<string>gitchat-6c9ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600791837864:ios:a984b50bb231f2a076e69d</string>
</dict>
</plist>