<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Gitchat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Gitchat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.4</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1492200602416732</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>chat.git.invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gitchat</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>68</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>1492200602416732</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>07adfc78a5e324b84a05e8a2553e105d</string>
	<key>FacebookDisplayName</key>
	<string>Gitchat</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>github</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Gitchat needs camera access to attach photos to messages.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Gitchat needs microphone access for voice messages.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Gitchat needs permission to save images from chats to your Photos library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Gitchat needs photo library access to attach images to messages.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Geist-Regular.ttf</string>
		<string>Geist-SemiBold.ttf</string>
		<string>Geist-Bold.ttf</string>
		<string>Geist-Black.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
		<key>UIImageName</key>
		<string>LaunchIcon</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
